* {
    background: #06011A;
    foreground: #e2c9e8;

    color0: #06011Aff;
    color1: #A760BBff;
    color2: #6289BBff;
    color3: #2E95D7ff;
    color4: #5696D7ff;
    color5: #7193D5ff;
    color6: #9C9EDEff;
    color7: #e2c9e8ff;
    color8: #9e8ca2ff;
    color9: #A760BBff;
    color10: #6289BBff;
}
