@define-color primary #c7bfff;
@define-color on_primary #2f295f;
@define-color primary_container #463f77;
@define-color on_primary_container #e4dfff;
@define-color inverse_primary #5e5791;
@define-color primary_fixed #e4dfff;
@define-color primary_fixed_dim #c7bfff;
@define-color on_primary_fixed #1a1249;
@define-color on_primary_fixed_variant #463f77;
@define-color secondary #c8c3dc;
@define-color on_secondary #302e41;
@define-color secondary_container #474459;
@define-color on_secondary_container #e5dff9;
@define-color secondary_fixed #e5dff9;
@define-color secondary_fixed_dim #c8c3dc;
@define-color on_secondary_fixed #1b192c;
@define-color on_secondary_fixed_variant #474459;
@define-color tertiary #ecb8ce;
@define-color on_tertiary #482537;
@define-color tertiary_container #613b4d;
@define-color on_tertiary_container #ffd8e8;
@define-color tertiary_fixed #ffd8e8;
@define-color tertiary_fixed_dim #ecb8ce;
@define-color on_tertiary_fixed #301121;
@define-color source_color #584f9e;
