
@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Only";
    /* font-size: 16px; */
}

/* window#waybar {
    background-color: transparent;
} */

window#waybar {
    background-color: alpha(@color2, 0.6);
    
    border-radius: 10px;
    border-width: 2px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
}

/* #workspaces, #custom-arch, #clock {
    background-color: alpha(@color2, 0.6);
    
    border-radius: 10px;
    border-width: 2px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;

    padding-right: 5px;
    padding-left: 5px;
} */

.modules-left, .modules-right {
    margin: 5px;
}

#cpu, 
#memory, 
#temperature, 
#battery, 
#clock, 
#custom-arch, 
#custom-power {
    font-size: 13px;
    padding: 0px 0px;
    margin: 0px 0px;
    color: white;
}

#custom-arch {
    font-size: 18px;  /* più grande di quanto dovrebbe essere */
    color: white;
    padding-right: 8px;
    padding-left: 4px;
    background-color: alpha(@color2, 0.6);
    
    border-radius: 10px 10px 10px 10px;
    border-width: 2px 2px 2px 2px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
    
    font-weight: bold;
    margin-right: 5px;
}


#cpu {
    background-color: alpha(@color2, 0.6);
    
    border-radius: 10px 0px 0px 10px;
    border-width: 2px 1px 2px 2px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
    
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

#memory {
    background-color: alpha(@color2, 0.6);
    
    border-width: 2px 1px 2px 1px;
    border-radius: 0px 0px 0px 0px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
    
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

#temperature {
    background-color: alpha(@color2, 0.6);
    
    border-width: 2px 2px 2px 1px;
    border-radius: 0px 10px 10px 0px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
    
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

#battery {
    background-color: alpha(@color2, 0.6);
    
    border-width: 2px;
    border-radius: 10px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
    
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

#workspaces {
    padding: 5px;
}

#workspaces button {
    padding: 0px 0px;
    margin: 0px 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    border-radius: 10px;
    color: white;

    background-color: alpha(@color2, 0.6);
    
    border-width: 2px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
}

#workspaces button.empty {
    background-color: white; /* alpha(@color2, 0.6); */
    
    border-width: 2px;
    border-radius: 10px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
    /*border: 2px solid alpha(@color0, 0.5);
    background-color: alpha(@color2, 0.8); */
}

#workspaces button.active {
    background-color: alpha(@color0, 0.7);
    border: 2px solid alpha(@color2, 0.5);
}

#pulseaudio {
    background-color: alpha(@color2, 0.6);
    font-size: 13px;

    border-width: 2px;
    border-radius: 10px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
    
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 600;
    color: white;
    margin-left: 5px;
}

#network {
    background-color: alpha(@color2, 0.6);
    font-size: 13px;

    border-width: 2px;
    border-radius: 10px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
    
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 600;
    color: white;
    margin-left: 5px;
}

#clock {
    background-color: alpha(@color2, 0.6);
    
    border-width: 2px;
    border-radius: 10px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
    
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 600;
    color: white;
    margin-left: 5px;
}

#custom-power {
    background-color: alpha(@color2, 0.6);
    
    border-width: 2px;
    border-radius: 10px;
    border-color: alpha(@color0, 0.7);
    border-style: solid;
    
    padding-right: 15px;
    padding-left: 13px;
    font-weight: 600;
    color: white;
    margin-left: 5px;
}
