
@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Only";
    font-size: 15px;
}

/* window#waybar {
    background-color: transparent;
} */

window#waybar {
    background-color: alpha(@primary_container, 0.9);

    border-radius: 10px;
    border-width: 2px;
    border-color: @on_primary_fixed;
    border-style: solid;
}

.modules-left, .modules-right {
    margin: 5px;
}

/*
 *          ╭─────────────────────────────────────────────────────────╮
 *          │          General configuration for all modules          │
 *          ╰─────────────────────────────────────────────────────────╯
*/

#custom-arch,
#cpu,
#memory,
#battery,
#workspaces button,
#pulseaudio,
#network,
#clock,
#custom-power {

    /* Borders */
    border-radius: 10px;
    border-width: 2px;
    border-color: @on_primary_fixed;
    border-style: solid;

    /* Background */
    background-color: @on_primary;

    /* General */
    font-size: 13px;
    font-weight: bold;
    padding: 0px 0px;
    margin: 0px 0px;
    color: white;

}

/*
 *          ╭─────────────────────────────────────────────────────────╮
 *          │           Configuration for touchable modules           │
 *          ╰─────────────────────────────────────────────────────────╯
*/


#battery:hover,
#workspaces button:hover,
#pulseaudio:hover,
#network:hover,
#custom-power:hover {
    background-color: @on_primary_fixed;
}


#custom-arch {
    font-size: 18px;  /* più grande di quanto dovrebbe essere */
    padding-right: 8px;
    padding-left: 4px;
    margin-right: 5px;
}


#cpu {
    border-radius: 10px 0px 0px 10px;
    border-width: 2px 1px 2px 2px;
    padding-right: 10px;
    padding-left: 10px;
}

#memory {
    border-width: 2px 2px 2px 1px;
    border-radius: 0px 10px 10px 0px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
}

#battery {
    padding-right: 10px;
    padding-left: 10px;
}

#workspaces {
    padding: 5px;
}

#workspaces button {
    padding: 0px 0px;
    margin: 0px 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

#workspaces button.active {
    background-color: @on_primary;
    border: 2px solid alpha(@on_primary_container, 0.6);
}


#pulseaudio {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 5px;
}

#network {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 5px;
}

#clock {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 5px;
}

#custom-power {
    padding-right: 15px;
    padding-left: 13px;
    margin-left: 5px;
}
