* {
    background: #2d1a2e;
    foreground: #968ebe;

    color0: #2d1a2e;
    color1: #B0246E;
    color2: #E81D52;
    color3: #ED2445;
    color4: #D22061;
    color5: #F89130;
    color6: #FCAF30;
    color7: #968ebe;
    color8: #696385;
    color9: #B0246E;
    color10: #E81D52;
}

