* {
    background: #0D1037;
    foreground: #bbbee9;
    color0: #0D1037;
    color1: #5E60AE;
    color2: #5F64C2;
    color3: #696FCB;
    color4: #807ED6;
    color5: #7C84DE;
    color6: #7E85E1;
    color7: #bbbee9;
    color8: #8285a3;
    color9: #5E60AE;
    color10: #5F64C2;
}
