alacritty
brightnessctl
gcc
greetd
greetd-gtkgreet
hypridle
hyprland
hyprlock
hyprpaper
imagemagick
jq
mako
neovim
noto-fonts-emoji
npm
nvim
polkit-gnome
python-pywal
qt6-5compat
quickshell
ripgrep
rofi
ttf-fira-code
ttf-space-mono-nerd
waybar
wget
wl-clipboard
